@inherits LayoutComponentBase

<div class="d-flex" style="min-height:100vh;">

    <NavMenu />

    <div class="flex-grow-1 d-flex flex-column bg-light">

        <TopBar />

        <main class="flex-grow-1 p-4">
            @Body
        </main>

    </div>

</div>